#contact {
  width: 99.4%;
}
.contact-title {
  color: #272341 !important;
  font-size: 50px;
  margin-top: 100px;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

#sendbtn {
  margin-left: 100px;
}
hr.style-f {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 50%;
  margin-bottom: 50px;
}

p.copyright {
  color: black;
  text-align: center;
  font-size: 15px;
  padding-bottom: 50px;
}
#emailPhone {
  margin-top: 40px;
  color: black;
  display: flex;
  gap: 15%;
  justify-content: center;
}
#emailPhone a {
  color: black;
}

/* form */
.form {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 500px;
  gap: 100px;
  border-radius: 60px;
  margin: auto;
  width: 35%;
  height: 700px;
  padding-left: 50px;
  padding-top: 50px;
  background-color: #b9dfe3;
  text-align: center;
}
label {
  margin-top: 30px;
}
input {
  width: 400px;
  border: none;
  border-radius: 10px;
  height: 50px;
  padding-left: 20px;
  text-align: left;
}
textarea {
  width: 400px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.Btn {
  margin-left: 100px;
}

@media (max-width: 950px) {
  .contact-title {
    font-size: 35px;
    margin-bottom: 50px;
  }
  hr.style-f {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .icon {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #emailPhone {
    margin-top: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20%;
    justify-content: center;
    margin-left: 300px;
  }
  .form {
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px;

    width: 35%;
    height: 700px;
  }
  label {
    margin-top: 30px;
  }
  input {
    width: 200px;
  }
  textarea {
    width: 200px;
  }
  #sendbtn {
    margin-top: 50px;
    margin-left: -5px;
  }
}
@media screen and (max-width: 450px) {
  #aboutme {
    margin-top: -100px;
    width: auto;
  }
  .text {
    /* width: 50%; */
    margin-left: 50px;
  }
  .gif-img {
    margin-left: -500px;
    width: 400px;
  }
  #sendbtn {
    margin-top: 50px;
    margin-left: -90px;
  }
  #emailPhone {
    margin-left: 50px;
  }
}
