.projects {
  margin-top: 60px;
  padding-top: 30px;
  /* background-image: var(--grad); */
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  /* border: 2px solid red; */
  width: 99.4%;
}
.card {
  /* border: 1px solid red; */
  width: 500px;
  height: 500px;
  background-color: transparent;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.project-title {
  margin: 20px 0 50px 0;
  color: black;
  text-align: center;
}

@media (max-width: 950px) {
  .project-title {
    font-size: 50px;
  }
}

@media (max-width: 450px) {
  .project-title {
    font-size: 50px;
  }
}
