#whatido {
  margin-bottom: 50px;
}

.whatidoStasti-title {
  color: var(--txtcolor);
  text-align: center;
  margin-bottom: -80px;
}

.fullstack {
  font-size: 40px;
  font-weight: 501;
  margin-top: 50px;
  color: var(--txtcolor);
}
.row {
  display: flex;
  margin-bottom: 100px;
}
.coding {
  /* border: 1px solid rgb(8, 14, 0); */
  width: 250px;
  height: 250px;
  margin-top: 100px;

  text-align: center;
}
.circle {
  border: 10px solid blueviolet;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 20px;
}

.circle-title {
  color: black;
  margin-top: 20px;
  text-align: center;
}
.circle-subtitle {
  color: black;
  text-align: center;
}
.leftcoding {
  margin-left: 250px;
}

.img-fluid {
  margin-top: 100px;
}
.col-lg-5 {
  text-align: center;
}
.i {
  padding: 40px 25px 0px 25px;
}
.center {
  text-align: center;
  align-items: center;
  padding-left: 0;
}

.tags {
  display: inline;
  position: relative;
}

div.logo {
  margin-right: 95px;
  margin-left: 95px;
}
.fluid-container {
  margin-top: -15px;
}

@media (max-width: 990px) {
  .img-fluid {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .tags:hover:after {
    bottom: -23px;
  }
  .tags:hover:before {
    bottom: 10px;
  }
  .Whatido-title {
    font-size: 50px;
  }

  .fullstack {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .center .i-mobile {
    padding: 40px 25px 15px 25px;
  }
  div.logo {
    margin-right: 200px;
    margin-left: 200px;
  }
}

@media (max-width: 750px) {
  div.logo {
    margin-right: 100px;
    margin-left: 100px;
  }
  #whatido p {
    text-align: left;
  }
  .i {
    padding: 20px 0px 0px 0px;
  }
}

@media (max-width: 590px) {
  .fullstack {
    margin-bottom: 0px;
  }
  .tags:hover:after {
    bottom: -35px;
  }
  .tags:hover:before {
    bottom: -2px;
  }
  div.logo {
    margin-left: 60px;
    margin-right: 60px;
  }

  .fullstack {
    font-size: 30px;
  }
  .i {
    padding: 40px 25px 10px 25px;
  }
}
