#whatido {
  margin-bottom: 50px;
  /* border: 2px solid rgb(64, 0, 255); */
  width: 100%;
}

.Whatido-title {
  color: var(--txtcolor);
  text-align: center;
  margin-bottom: -80px;
  font-size: 50px;
}

.fullstack {
  color: var(--txtcolor);
  text-align: center;
  font-size: 30px;
  margin: auto;
  margin-bottom: 100px;
  width: 50%;
  margin-top: 50px;
}
.myrow {
  /* border: 1px solid red; */
  margin: auto;
  width: 70%;
}

#techStack {
  /* border: 5px solid rgb(38, 255, 0); */
  margin-left: 30px;
}
.img-fluid {
  margin-top: 100px;
}
.col-lg-5 {
  text-align: center;
}
.i {
  padding: 40px 25px 0px 25px;
}
.center {
  text-align: center;
  align-items: center;
  padding-left: 0;
}

.tags {
  display: inline;
  position: relative;
}

.tags:hover:after {
  background: #333;
  background: rgba(57, 187, 234, 0.8);
  border-radius: 5px;
  bottom: -40px;
  color: var(--s_color);
  content: attr(gloss);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 125px;
}

.tags:hover:before {
  border: solid;
  border-color: rgba(57, 187, 234, 0.8) transparent;
  border-width: 0 6px 6px 6px;
  bottom: -6px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

div.logo {
  margin-right: 95px;
  margin-left: 95px;
}
.fluid-container {
  margin-top: -15px;
}

#whatido .box {
  margin: 80px 0px 50px 50px;
  font-size: 20px;
  text-align: left;
}
.box p {
  color: var(--txtcolor);
}
.vertical-center {
  display: flex;
  align-items: center;
}
.row {
  width: 70%;
  /* border: 1px solid blue; */
  margin: auto;
}
@media (max-width: 950px) {
  .Whatido-title {
    font-size: 50px;
  }
  .center .i-mobile {
    padding: 40px 25px 15px 25px;
  }
  div.logo {
    margin-right: 200px;
    margin-left: 200px;
  }
  #whatido .box {
    margin: 50px;
  }

  .logodesign {
    margin-left: -500px;
    width: 90%;
  }
  .fullstack {
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-bottom: 100px;

    margin-top: 50px;
  }
}

@media (max-width: 450px) {
  .fullstack {
    margin-bottom: 0px;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 30px;
  }

  #whatido .box {
    margin: 45px 20px 45px 20px;
    text-align: left;
  }

  .i {
    padding: 40px 25px 10px 25px;
  }

  #rowlogos {
    width: 400px;
    margin-left: 150px;
    border: 1px solid red;
  }
}
